Repository LSSTDESC/DC2-analysis, pull requests merged in 2018-11, with the labels that each got.

#31 Update DM product repo paths for butler tutorials
  tutorials/dm_butler_lensing_cuts.ipynb
  tutorials/dm_butler_postage_stamps.ipynb
  tutorials/dm_butler_skymap.ipynb
  tutorials/object_gcr_2_lensing_cuts.ipynb
Labels: access:butler, tutorial

#27 Apache Spark tutorial: Part I (data access)
  tutorials/object_spark_1_intro.ipynb
Labels: access:spark, data:object, tutorial

#35 add spark tutorial entry in the readme file
  tutorials/README.rst
Labels: repo organization, tutorial

#34 bug fix in butler sky map tutorial
  tutorials/dm_butler_skymap.ipynb
Labels: access:butler, bug, tutorial

#37 update 1.1p to 1.2i in object_gcr_1_intro
  tutorials/object_gcr_1_intro.ipynb
Labels: access:reader, data:object, tutorial

#39 update 1.1p to 1.2i in object_gcr_2_lensing_cuts
  tutorials/object_gcr_2_lensing_cuts.ipynb
Labels: access:reader, data:object, tutorial

#40 update 1.1p to 1.2i in object_gcr_3_challenges
  tutorials/assets/object_gcr_tutorial_part3.py
  tutorials/object_gcr_3_challenges.ipynb
Labels: access:reader, data:object, tutorial

#38 update 1.1p to 1.2i in matching_fof
  tutorials/matching_fof.ipynb
Labels: access:reader, data:extragalactic, data:object, data:truth, tutorial

#44 Fixing Notebook TItles
  tutorials/extragalactic_gcr_cluster_colors.ipynb
  tutorials/extragalactic_gcr_cluster_members.ipynb
Labels: access:reader, data:extragalactic, quick fix, tutorial
