Repository LSSTDESC/DC2-analysis, pull requests merged in 2019-02, with the labels that each got.

#59 CosmoDC2 Output from TXPipe for HackUrDC2
  contributed/plots/Clustering.png
  contributed/plots/Cosmic Shear.png
  contributed/plots/Galaxy-Galaxy Lensing.png
  contributed/plots/TXPipe_Outputs.md
  contributed/plots/photoz_stack.hdf5
Labels: analysis:PZ, data:extragalactic, hackurDC2

#54 Galaxy Clusters & Velocity: A HackUrDC2 Story
  contributed/hackurdc2_spark_halos.ipynb
  contributed/hackurdc2_spark_halos_appendix.ipynb
  contributed/histo_spark.png
Labels: access:spark, analysis:CL, data:extragalactic, hackurDC2

#58 Run 1.2 exploration
  contributed/Run_1.2_exploration.ipynb
  contributed/plots/README.md~
Labels: access:reader, data:object, data:truth, hackurDC2

#46 U/chihway/gglensing stellarmass
  contributed/TestGalaxyGalaxyLensingSDSSMain.ipynb
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM1_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM1_r.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM2_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM2_r.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM3_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM3_r.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM4_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM4_r.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM5_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM5_r.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM6_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM6_r.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM7_b.npz
  contributed/gglens_data/DeltaSigma_cosmoDC2_SM7_r.npz
  contributed/gglens_data/SDSS_main_blue_DS.dat
  contributed/gglens_data/SDSS_main_red_DS.dat
Labels: analysis:WL, contributed, data:extragalactic, hackurDC2

#56 U/lal/hackurdc2 the movie
  contributed/cosmoDC2_TheMovie.ipynb
Labels: access:spark, data:extragalactic, hackurDC2

#60 DESCQA Test for HackUrDC2
  contributed/plots/dkorytov/README.md
  contributed/plots/dkorytov/fig1.png
  contributed/plots/dkorytov/fig2.png
  contributed/plots/dkorytov/fig3.png
  contributed/plots/dkorytov/fig4.png
Labels: data:extragalactic, hackurDC2

#52 Add plots from Piff running on DC2 1.2i
  contributed/plots/piff_dc2/README.txt
  contributed/plots/piff_dc2/piff_single_1.2i.yaml
  contributed/plots/piff_dc2/rho.png
  contributed/plots/piff_dc2/shape.png
  contributed/plots/piff_dc2/twod.png
Labels: data:dm, hackurDC2

#65 Reorganize, clarify notebooks for use as tutorials
  tutorials/postgres_object_1_intro.ipynb
  tutorials/postgres_object_2.ipynb
Labels: tutorial

#51 U/marina ricci/investigate properties of halos in dc2
  contributed/check_properties_of_haloes_in_CosmoDC2.ipynb
Labels: access:reader, analysis:CL, contributed, data:extragalactic, hackurDC2

#53 Add SED_PCA notebook contribution for HackUrDC2
  contributed/SED_PCA.ipynb
Labels: access:reader, analysis:PZ, contributed, data:extragalactic, hackurDC2

#49 Submit redMaPPer catalogs for HackUrDC2
  contributed/plots/cosmoDC2_v1.1.4_run_redmapper_v0.2.1py_lgt20_nz.png
  contributed/plots/cosmoDC2_v1.1.4_run_redmapper_v0.2.1py_lgt20_zspec.png
  contributed/plots/redmapper_descriptions.md
  contributed/redmapper_python1.ipynb
Labels: access:reader, analysis:CL, contributed, data:extragalactic, hackurDC2

#66 add a real-world example in truth variable tutorial
  tutorials/truth_gcr_variables.ipynb
Labels: access:reader, analysis:SN, data:truth, enhancement, tutorial

#68 Add photo-z (for object catalog) tutorial
  tutorials/README.rst
  tutorials/object_gcr_4_photoz.ipynb
Labels: access:reader, analysis:PZ, data:object, tutorial
