Repository LSSTDESC/DC2-analysis, pull requests merged in 2019-03, with the labels that each got.

#69 Updated tutorial for CosmoDC2Realizer
  contributed/Part_1_Emulating_source_catalog_of_imposters_with_CosmoDC2Realizer.ipynb
  contributed/data/field.csv
  contributed/data/obs_history.csv
  contributed/demo_utils/cosmodc2realizer_helper.py
  contributed/demo_utils/moments.py
  contributed/demo_utils/sprinkledcosmodc2realizer_helper.py
  contributed/demo_utils/units.py
Labels: access:reader, analysis:emulation, contributed, data:extragalactic

#74 add truth comparison to Run 1.2 contributed notebook
  contributed/Run_1.2_exploration.ipynb
Labels: data:object, data:truth, validation

#47 add notebooks for SL relevant projects
  contributed/cosmoDC2WeakLensingMapsForJZ.ipynb
  contributed/ggStrongLensingDC2_SL_NanLi_HackurDC2.ipynb
  contributed/plots/reDisClustersDC2_CL+SL_NanLi_HackurDC2.pdf
  contributed/plots/testSprinkler_SL_NanLi_HackurDC2.pdf
  contributed/reDisClustersDC2_CL+SL_NanLi_HackurDC2.ipynb
  contributed/testSprinkler_SL_NanLi_HackurDC2.ipynb
Labels: analysis:SL, contributed, data:extragalactic, hackurDC2

#77 add ellipticity definition explanation in the FoF matching tutorial
  tutorials/matching_fof.ipynb
Labels: tutorial
